<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href="@Url.Content("~/Content/fullcalendar.css")" />
    <script src="@Url.Content("~/Scripts/lib/jquery.min.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar papi navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/Home">
                        <img src="@Url.Content("~/Content/images/ancarola-web.png")" alt="Alternate Text" />

                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rehabilitar", "Index", "Home")</li>
                    <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                    <li>@Html.ActionLink("Turnos", "Index", "Turnoes")</li>
                    <li>@Html.ActionLink("Log Off", "LogOff", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  </p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="@Url.Content("~/Scripts/lib/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>

</body>
</html>
