@model relacionandoTablas.Models.Turno

@{
    ViewBag.Title = "Editar";

    var modelPaciente = ViewBag.DetallePaciente;
}

<h2>Editar</h2>


@using (Html.BeginForm())
    {
    // @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Turno</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Dia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dia, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Dia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control", @type = "time" } })

                @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteID, "PacienteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PacienteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PacienteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <input type="submit" value="Guardar" class="btn btn-default col-md-2" />



            <input type="button" onclick="deleteRedirect(@Model.Id)" value="Eliminar turno" class="btn btn-default col-md-2" />



        </div>

    </div>

 }
    

    <script>
        deleteRedirect = function (id) {
            window.location.href = window.location.origin + '/Turnoes/Delete/' + id;
        }
    </script>


    @*//Prueba detalles*@

@if (modelPaciente != null) {

    <div>
        <h3>Paciente</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <span>Nombre</span>
            </dt>
            <dd>
                <span>@modelPaciente.Nombre</span>
            </dd>

            <dt>
                <span>Apellido</span>
            </dt>
            <dd>
                <span>@modelPaciente.Apellido</span>
            </dd>

            <dt>
                <span>Edad</span>
            </dt>
            <dd>
                <span>@modelPaciente.Edad</span>
            </dd>

            <dt>
                <span>Telefono</span>
            </dt>
            <dd>
                <span>@modelPaciente.Telefono</span>
            </dd>


            <dt>
                <span>Dirección</span>
            </dt>
            <dd>
                <span>@modelPaciente.Dirección</span>
            </dd>


            <dt>
                <span>ObraSocial</span>
            </dt>
            <dd>
                <span>@modelPaciente.ObraSocial</span>
            </dd>

            <dt>
                <span>HistoriaMedica</span>
            </dt>
            <dd>
                <span>@modelPaciente.HistoriaMedica</span>
            </dd>

            <dt>
                <span>Correo</span>
            </dt>
            <dd>
                <span>@modelPaciente.Correo</span>
            </dd>



        </dl>
    </div>

}




<div class="btn btn-default">
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
